<%- include("partials/header"); -%>
  <div class="types" class="container" >
    <div class="typ-op" >
     <img src="images/add.png" alt="">
     <button class="typ-btn"><a href="/compose">ADD BOOK</a></button>
    </div>
        <div class="typ-op">
        <img src="images/resources.png" alt="" class="typ-img">
        <button class="typ-btn"><a href="/composeref" class="typ-img">ADD REFERENCE</a></button>
       </div>
       <div class="typ-op">
        <img src="images/update.jpg" alt="">
        <button class="typ-btn"><a href="/update" class="typ-img">UPDATE BOOKLIST</a></button>
       </div>
  </div>
<%- include("partials/footer"); -%>